<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <head th:replace="/fragments/head :: head">

</head>

  <div th:replace="fragments/common-header :: commonHeader"></div><body>

    <div class="container">
      <h2>Change Password</h2>
      <form action="#" th:action="@{/change-password}" th:object="${account}" method="post">
        <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>


        <div class="form-group">
          <div class="form-inline">
            <input type="hidden" id="id" name="id" th:field="*{id}" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" required>
          </div>
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="password_error" class="alert alert-danger" role="alert">Password Error</p>
        </div>

        <div class="form-group">
          <div class="form-inline">
            <label for="password_confirm"><span style="display: inline-block; line-height: 1.2;">Confirm<br>Password</span></label>
            <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm Password" required>
          </div>
        </div>

        <div class="buttons">
          <button type="submit">Update password</button>
        </div>

      </form>
    </div>



    <script>
      $(document).ready(function () {
        $('#password_confirm').on('input', function () {
          const password = $('#password').val();
          const confirmPassword = $(this).val();

          if (confirmPassword !== password) {
            this.setCustomValidity('Password Must be Matching.');
          } else {
            this.setCustomValidity('');
          }
        });
      });
    </script>


</body>

</html>