<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <head th:replace="/fragments/head :: head">

</head>

  <div th:replace="fragments/common-header :: commonHeader"></div><body>


    <div class="container">
      <h2>Forgot Password</h2>
      <form action="#" th:action="@{/reset-password}" method="post">
        <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
        <div class="form-group">
          <div class="form-inline">
              <label for="email">Email</label>
              <input id="email" name="email" type="email" class="form-control" placeholder="Email" required/>

                <button type="submit">
                  Reset password
                </button>
          </div>
        </div>
      </form>
      <hr/>
      <div>
        <a th:href="@{/login}" class="link-secondary">Login</a>
      </div>
    </div>
</body>

</html>